<h1>Welcome to New Perspective</h1>
<p>This is a web application that serves to help students required to do volunteer by assessing what kind of work they'd be most interested in.</p>

<p>When you on the 'Start' button, you will be prompted with a series of descriptions pertaining to one of five types of social issues; Economic Class, Race, Gender, Sexuality and Disabilities. As you read each one, select the degree to which to you find the situation to be very important.</p>

<%= button_to "Start", new_part1_path, method: :get %>
