<div class="container">

<h1>Editing Part 4: Sexuality</h1>
<p>Instructions: Below are a series of descriptions that exemplify social injustices pertaining to sexuality.
  Click on the response that you believe best describes how important the issue is to you.</p>

<%= render 'form', part4: @part4 %>
