<div class="container">

<h1>Editing Part 5: Disabilities</h1>
<p>Instructions: Below are a series of descriptions that exemplify social injustices pertaining to disabilities.
  Click on the response that you believe best describes how important the issue is to you.</p>

<%= render 'form', part5: @part5 %>
