<div class="container">

<h1>ng Part 1: Economic Class</h1>
<p>Instructions: Below are a series of descriptions that exemplify social injustices pertaining to economic class.
  Click on the response that you believe best describes how important the issue is to you.</p>

<%= render 'form', part1: @part1 %></h1>
