<h1>Results *Prototype*</h1>

<p>Part 1: *num* / 10</p>
<p>Part 2: *num* / 10</p>
<p>Part 3: *num* / 10</p>
<p>Part 4: *num* / 10</p>
<p>Part 5: *num* / 10</p>

<p>This is where the information about the social issue with the highest score would be displayed.</p>

