<h1>New Perspective</h1>
<h2>Part 2: Race</h2>
<p>Instructions: Below are a series of descriptions that exemplify social injustices pertaining to race.
  Click on the response that you believe best describes how important the issue is to you.</p>

<%= render 'form', part2: @part2 %>

<%= link_to 'Previous', new_part1_url %>

<p>Part 2 of 5</p>
